@media (max-width: 987px) {
  .btm_footer .f_link h1 {
    font-size: 25px;
  }
  .btm_footer .f_link p {
    font-size: 14px;
  }
  .btm_footer .first_lnk form input {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .section .s_left {
    width: 40%;
    padding-right: 0;
  }
  .section .s_left h1 {
    font-size: 30px;
  }
  .section .s_left p {
    font-size: 16px;
    margin: 20px 0 40px;
  }
  .section .s_left button {
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px -6px black;
  }
  .section .s_right {
    width: 60%;
  }
  .section .s_right img {
    width: 90%;
    border-radius: 20px;
  }
  .section .s_right img:hover {
    transform: scale(1.05);
  }
  .project .project_view {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .work_profile {
    display: block;
  }
  .w_profile {
    margin-bottom: 50px;
  }
  .skills .sub_s {
    width: 90%;
  }
}
@media (max-width: 670px) {
  .header {
    height: auto;
  }
  .nav_one {
    position: relative;
  }
  .nav_one h1 {
    padding-bottom: 10px;
  }
  .nav_one .menu {
    display: block;
  }
  .nav_one .menubtn {
    display: block;
    padding: 0px 20px 20px;
    text-align: center;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2d3436;
    border-radius: 0 0 0 15px;
  }
  .nav_one ul li {
    display: block;
  }
  .menubutton {
    z-index: 1;
    display: none;
  }
  .nav_one #check:checked ~ .menubutton {
    display: block;
  }
  .btn {
    padding: 8px 12px;
  }

  .project h1,
  .w_profile_h {
    font-size: 30px;
  }
  .skills .sub_s {
    width: 100%;
  }

  .footer .top_footer h1 {
    font-size: 30px;
  }
  .footer .top_footer p {
    width: 100%;
  }
  .footer .top_footer form {
    padding: 40px 0;
  }
  .footer .top_footer form input {
    padding: 15px;
    display: block;
  }
  .footer .top_footer form input[type='email'] {
    width: 100%;
    margin-bottom: 5px;
  }
  .footer .top_footer form input[type='button'] {
    width: 100%;
  }

  .btm_footer {
    flex-direction: column;
  }

  .f_link {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .footer .btm_footer .third_f a {
    display: block;
  }
  .btm_f_li form {
    display: none;
  }
  .btm_f_li .f_icon {
    text-align: center;
    padding-top: 20px;
  }
}
@media (max-width: 620px) {
  .section {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .section .s_left {
    margin-top: 20px;
    width: 90%;
    padding-right: 0;
    text-align: center;
  }
  .section .s_right {
    width: 100%;
    text-align: center;
  }
  .project .project_view {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
}
